* {
  box-sizing: border-box;
}

body {
  background-color: #6E7C98;
  font-family: Helvetica, sans-serif;
}

/* Info box with actor's personal info */
.personal-data {
  background-color: #576176;
  color: white;
  margin-top: 10px;
  padding-left: 10px;
  width: 800px;
  border: 20px solid white;
  height: 350px;
}

p {
  font-size: 20px;
}

/* Vertical timeline: inspired by w3schools timeline */
.timeline {
  max-width: 1400px;
  position: relative;
}

.timeline::after {
  content: '';
  position: absolute;
  margin-top: 440px;
  width: 8px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
}

/* Timeline squares */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #6E7C98;
  top: 15px;
  z-index: 1;
}

/* Square adjust */
.right::after {
  left: -16px;
}

/* Container with info */
.container {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  width: 50%;
}

/* Right container */
.right {
  left: 50%;
}

/* Left container */
.left {
  left: 0;
}

/* Right containers' arrows */
.right::before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Left containers' arrows */
.left::before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Border around clickable boxes */
.info-border {
  position: relative;
  padding: 20px;
  background-color: white;
}

/* Collapsible info box */
.collapsible {
  background-color: #576176;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

/* Color change when hovering over collapsible */
.active, .collapsible:hover {
  background-color: #3F4655;
}

/* Content shown upon click */
.click_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.header {
  overflow: hidden;
  background-color: #F7F7F7;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 12px;
}

/* Return to Home link towards right */
.header-right {
  float: right;
}

/* Movie Timeline text */
.header a.logo {
  font-size: 27px;
  font-weight: bold;
}

/* Hovering over links changes background color */
.header a:hover {
  background-color: #AEAEAE;
}
